.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
  
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #efb08c;
}

h1{
  margin: 0px;
  padding: 0px;
  
}
.books{

  padding: 10px;
}

.header{
  background-color: tomato;
  background-image: url(https://s.yimg.com/uu/api/res/1.2/0qZbciS2P7Kwwrn8_6vIsA--~B/aD0yMTM7dz02NDA7c209MTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en-US/the_mighty_beauty_225/5e3ad80b184b7f491b69254e173c8852);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  padding: 1px;
  
  color: whitesmoke;
  
}

.header p{
  font-size: 5rem;
  font-family: 'Source Code Pro', monospace;
  padding: 1px;
  margin: 0px;
  opacity: 0.6;
}

li{
  font-size: large;
  list-style: none;
  text-align: left;
  padding: 0px 5px;
  
  background-color: #f2dcbb;
}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  
}

.card {
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  perspective: 1000px;
  box-shadow: 10px;
  font-family: 'Fugaz One', cursive;
}

.card:hover{
  box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.7);
  
}

@media (max-width: 800px){
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media (max-width: 400px){
  .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
}

.container{
  margin: 10px;
  padding: 5px;
}

ul{
  margin: 0px;
  padding: 0px;
}

.page-item{
  
 display: inline-block;
  
}